<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<title>HOME</title>
	<link rel="stylesheet" href="/assets/FontAwesome/css/font-awesome.min.css">
</head>

<body>
	<div class="theme-layout">
		<section>
			<div class="gap2 gray-bg">
				<div class="container-fluid">
					<div class="row">
						<div class="col-lg-12">
							<div class="row merged20" id="page-contents" style="margin-top: 50px">
								<div class="col-sm-3 col-lg-3 hideMeLeftPanel" style="position: fixed; left: 0">
									<aside class="sidebar static left">
										
										<div class="widget">
											<h4 class="widget-title">Shortcuts</h4>
											<ul class="naves">
												<li>
													<i class="ti-clipboard"></i>
													<a href="newsfeed.html" title="">News feed</a>
												</li>
												<li>
													<i class="ti-mouse-alt"></i>
													<a href="inbox.html" title="">Inbox</a>
												</li>
												<li>
													<i class="ti-files"></i>
													<a href="fav-page.html" title="">My pages</a>
												</li>
												<li>
													<i class="ti-user"></i>
													<a href="timeline-friends.html" title="">Friends</a>
												</li>
												<li>
													<i class="ti-image"></i>
													<a href="timeline-photos.html" title="">Images</a>
												</li>
												<li>
													<i class="ti-video-camera"></i>
													<a href="timeline-videos.html" title="">Videos</a>
												</li>
												<li>
													<i class="ti-comments-smiley"></i>
													<a href="messages.html" title="">Messages</a>
												</li>
												<li>
													<i class="ti-bell"></i>
													<a href="notifications.html" title="">Notifications</a>
												</li>
											</ul>
										</div><!-- Shortcuts -->
									</aside>
								</div><!-- sidebar -->

								<!-- ******************* CREATE POST ********************************* -->
								<div
									class="col-sm-6 col-lg-6 expandMiddleContent setMiddleContentToRight setMidleContentMaxWidth setMidleContentMinWidth"
									style="margin: 0 auto">
									<div class="central-meta">
										<div class="new-postbox">
											<span *ngIf="ProfilePicNotFound() "> </span>
                                            <span *ngFor="let pic of profilePics; let p = index">
													<span class="comet-avatar"
														*ngIf="this.cookie.get('authUserId') == pic.user_id; else picNotFound1">
														<span *ngIf="ProfilePicFound()"> </span>
														<img [src]="pic.picFile" alt="" style=" width: 11%">
													</span>
													<ng-template #picNotFound1>
														<span *ngIf="!isProfileFound && p == (profilePics.length-1)">
															<img src="/assets/pics/noProfile.png" alt="" style=" width: 11%">

														</span>
													</ng-template>
												</span>

											<div class="newpst-input">
												<form [formGroup]="postingFormGroup">
													<textarea class="postTextarea" rows="2" placeholder="write something" formControlName="desc"
														name="desc" #desc></textarea>

													<img class="img-responsive" [src]="imageSrc">

													<div class="attachments">
														<ul>
															<li>
																<input id="upload" name="upload" type="file" class="btn btn-secondary"
																	style="display: none;" (change)="onImageUpload($event)" #uploadedImage>
																<label for="upload"
																	style="vertical-align: top; background: lightgray; padding: 1px 11px;"
																	class="btn btn-default">Upload</label>
															</li>
															<li>
																<button class="btn btn-primary" name="submit" type="button"
																	(click)="addMyPost(desc.value, imageSrc)">Post</button>
															</li>
														</ul>
													</div>
												</form>
											</div>
										</div>
									</div><!-- add post new box -->

									<!-- **************** POSTS ******************************** -->
									<div class="loadMore">
										<div class="central-meta item" *ngFor="let posts of createpost | reverse; let i = index">
											<span *ngIf="resetShow()"></span>
											<div>
												<div class="user-post">
													<div class="friend-info">
														<figure>
															<!-- <span *ngFor="let pic of profilePics; let j = index"> -->
															<span *ngIf="posts.postUserpic != ''">
																<img [src]="posts.postUserpic" alt="">
															</span>
															<span *ngIf="posts.postUserpic == ''">
																<img src="/assets/pics/noProfile.png" alt="">
															</span>
															<!-- </span> -->
														</figure>

														<div class="friend-name">
															<ins>
																<a href="time-line.html" title="">
																	{{ posts.name.username }}
																</a>

															</ins>
															<span>published: june,2 2018 19:PM</span>
														</div>
														<div class="post-meta">
															<div class="description">
																<p class="">
																	{{posts.description}}
																</p>
															</div>

															<img class="resize" *ngIf="posts.imageFile != null || posts.imageFile != ''"
																[src]="posts?.imageFile" alt="">

															<input type="hidden" [value]="posts.post_id" #postIdField>
															<div class="we-video-info">
																<ul>
																	<li>
																		<span title="views">
																			<i class="fa fa-eye" for=""></i>
																			<ins>1.2k</ins>
																		</span>
																	</li>

																	<li>
																		<span title="comments">
																			<i class="fa fa-comments" style="cursor:pointer"></i>
																			<ins
																				*ngIf="posts.totalcomments > 0">{{posts.totalcomments + posts.totalreplies}}</ins>
																		</span>
																	</li>

																	<span *ngFor="let like of createlike ; let j = index">
																		<span
																			*ngIf="like.user_id == userId && like.post_id == posts.post_id ; else notLiked">
																			<span *ngIf="check()"></span>
																			<li>
																				<span title="like">
																					<i class="fa fa-thumbs-up" style="cursor: pointer"
																						(click)="onPostLike(postIdField.value, like?.likes)"
																						[ngStyle]="{color: like?.likes==1 ? 'green' : ''}"></i>
																					<ins>{{posts.totalLiked}}</ins>
																				</span>
																			</li>
																			<li>
																				<span title="dislike">
																					<i class="fa fa-thumbs-down" style="cursor: pointer"
																						(click)="onPostdisLike(postIdField.value, like?.dislikes)"
																						[ngStyle]="{color: like?.dislikes==1 ? 'green' : ''}"></i>
																					<ins>{{posts.totaldisLiked}}</ins>
																				</span>
																			</li>
																		</span>

																		<ng-template #notLiked>
																			<span *ngIf="this.show==false && j==(createlike.length-1)">
																				<li>
																					<span title="like">
																						<i class="fa fa-thumbs-up" style="cursor: pointer"
																							(click)="onPostLike(postIdField.value, like?.likes)"></i>
																						<ins>{{posts.totalLiked}}</ins>
																					</span>
																				</li>
																				<li>
																					<span title="dislike">
																						<i class="fa fa-thumbs-down" style="cursor: pointer"
																							(click)="onPostdisLike(postIdField.value, like?.dislikes)"></i>
																						<ins>{{posts.totaldisLiked}}</ins>
																					</span>
																				</li>
																			</span>
																		</ng-template>
																	</span>

																	<li class="">
																		<div class="">
																			<div class="btn trigger"><i class="fa fa-share-alt"></i></div>
																		</div>
																	</li>
																</ul>
																<br>

																<div class="post-comment">
																	
																	<div class="post-comt-box">
																		<span>
																			<span *ngIf="ProfilePicNotFound() "> </span>
																			<span *ngFor="let pic of profilePics; let p = index">
																					<span class="comet-avatar"
																						*ngIf="this.cookie.get('authUserId') == pic.user_id; else picNotFound2">
																						<span *ngIf="ProfilePicFound()"> </span>
																						<img [src]="pic.picFile" alt="" style=" width: 15%; float: left">
																					</span>
																					<ng-template #picNotFound2>
																						<span *ngIf="!isProfileFound && p == (profilePics.length-1)">
																							<img src="/assets/pics/noProfile.png" alt="" style=" width: 15%; float: left">
								
																						</span>
																					</ng-template>
																				</span>

																			<textarea class="commentTextarea" [(ngModel)]="commentValue"
																				(keydown.enter)="MainComment($event, posts.post_id, mainComment);false"
																				placeholder="Post your comment" #mainComment></textarea>
																		</span>

																		<span class="" *ngFor="let comment of createcomments">
																			<ul class="we-comet" *ngIf="comment.post_id == posts.post_id">
																				<li>
																					<!-- <div class="comet-avatar"> <img src="/assets/pics/noProfile.png" alt=""> </div> -->

																					<div class="we-comment">
																						<div class="coment-head">

																							<!-- Commented User Profile Pic set  -->
																							<span *ngIf="ProfilePicNotFound() "> </span>

																							<span *ngFor="let pic of profilePics; let p = index">
																								<span class="comet-avatar"
																									*ngIf="comment.user_id == pic.user_id; else picNotFound">
																									<span *ngIf="ProfilePicFound()"> </span>
																									<img [src]="pic.picFile" alt="" style=" width: 15px">
																								</span>
																								<ng-template #picNotFound>
																									<span *ngIf="!isProfileFound && p == (profilePics.length-1)">
																										<img src="/assets/pics/noProfile.png" alt="" style=" width: 15px">

																									</span>
																								</ng-template>
																							</span>

																							<h5 *ngFor="let names of usernames">
																								<a href="" title="" *ngIf="comment.user_id==names.user_id">
																									{{ names.username }}
																								</a>
																							</h5>
																							<!-- <span>1 year ago</span> -->
																							<a class="we-reply" style="cursor:pointer"
																								(click)="showCommentReply(comment.comment_id)" title="Reply"><i
																									class="fa fa-reply"></i></a>
																						</div>
																						<p> {{ comment.description }} </p>
																					</div>
																				</li>
																				<li
																					*ngIf="commentReplyStatus && comment.post_id == posts.post_id && comment.comment_id == currentReplyId">
																					<div style="margin-top: 9px">
																						<span>
																							<span *ngIf="ProfilePicNotFound() "> </span>
																							<span *ngFor="let pic of profilePics; let p = index">
																									<span class="comet-avatar"
																										*ngIf="this.cookie.get('authUserId') == pic.user_id; else picNotFound3">
																										<span *ngIf="ProfilePicFound()"> </span>
																										<img [src]="pic.picFile" alt="" style=" width: 15%; float: left">
																									</span>
																									<ng-template #picNotFound3>
																										<span *ngIf="!isProfileFound && p == (profilePics.length-1)">
																											<img src="/assets/pics/noProfile.png" alt="" style=" width: 15%; float: left">
												
																										</span>
																									</ng-template>
																								</span>


																							<textarea class="replyComment" style="vertical-align: middle"
																								[(ngModel)]="replyValue"
																								(keydown.enter)="ReplyComment($event, posts.post_id, comment.comment_id, commentReply);false"
																								placeholder="Post your comment" #commentReply></textarea>
																						</span>

																						<!-- <div class="post-comt-box">
																									
																								</div> -->
																					</div>
																				</li>

																				<!-----------------  SHOW INLINE COMMENTS ---------------------------------------------------->
																				<li>

																					<span class="" *ngFor="let reply of createreplies">
																						<ul class="we-comet"
																							*ngIf="reply.post_id == posts.post_id && reply.comment_id == comment.comment_id">
																							<li>
																								<div class="we-reply-comment">
																									<div class="coment-head">

																										<!-- Replied User Profile Pic set  -->
																										<span *ngIf="ProfilePicNotFound() "> </span>

																										<span *ngFor="let pic of profilePics; let pr = index">
																											<span class="comet-avatar"
																												*ngIf="reply.user_id == pic.user_id; else replypicNotFound">
																												<span *ngIf="ProfilePicFound()"> </span>
																												<img [src]="pic.picFile" alt="" style=" width: 15px">
																											</span>
																											<ng-template #replypicNotFound>
																												<span *ngIf="!isProfileFound && pr == (profilePics.length-1)">
																													<img src="/assets/pics/noProfile.png" alt=""
																														style=" width: 15px">
																												</span>
																											</ng-template>
																										</span>

																										<h5 *ngFor="let names of usernames">
																											<a href="" title="" *ngIf="reply.user_id==names.user_id">
																												{{ names.username }}
																											</a>
																										</h5>
																										<!-- <span>1 year ago</span> -->

																										<a class="we-reply" style="cursor:pointer"
																											(click)="showReplyComment(reply.user_id, reply.reply_id)"
																											title="Reply"><i class="fa fa-reply"></i></a>
																									</div>
																									<p> {{ reply.replydescription }} </p>
																								</div>
																							</li>

																							<li
																								*ngIf="replyCommentStatus && reply.post_id == posts.post_id && reply.comment_id == comment.comment_id && reply.reply_id == currentReplyId">
																								<div style="margin-top: 9px">
																									<span>
																										<span *ngIf="ProfilePicNotFound() "> </span>
																										<span *ngFor="let pic of profilePics; let p = index">
																												<span class="comet-avatar"
																													*ngIf="this.cookie.get('authUserId') == pic.user_id; else picNotFound4">
																													<span *ngIf="ProfilePicFound()"> </span>
																													<img [src]="pic.picFile" alt="" style=" width: 15%; float: left">
																												</span>
																												<ng-template #picNotFound4>
																													<span *ngIf="!isProfileFound && p == (profilePics.length-1)">
																														<img src="/assets/pics/noProfile.png" alt="" style=" width: 15%; float: left">
															
																													</span>
																												</ng-template>
																											</span>

																										<textarea class="replyComment" style="vertical-align: middle"
																											[(ngModel)]="replyValue"
																											(keydown.enter)="ReplyComment($event, posts.post_id, reply.comment_id, inlineCommentReply);false"
																											placeholder="Post your comment" #inlineCommentReply></textarea>
																									</span>

																									<!-- <div class="post-comt-box">
																											</div> -->
																								</div>
																							</li>
																						</ul>
																					</span>
																				</li>

																			</ul>

																		</span> <!-- coment-area ends here -->
																		<!-- </div>  -->
																	</div>

																</div>

															</div>

														</div>
													</div>
												</div>
											</div>
										</div>
									</div>

								</div><!-- centerl meta -->

								<div class="col-sm-3 col-lg-3 hideMeRightPanel" style="position: fixed; right: 0">
									<aside class="sidebar static right">
										<div class="widget">
											<h4 class="widget-title">Your page</h4>
											<div class="your-page">
												<figure>
													<a href="#" title=""><img src="/assets/winkuLandingPage/images/resources/friend-avatar9.jpg"
															alt=""></a>
												</figure>
												<div class="page-meta">
													<a href="#" title="" class="underline">My page</a>
													<span><i class="ti-comment"></i><a href="insight.html" title="">Messages <em>9</em></a></span>
													<span><i class="ti-bell"></i><a href="insight.html" title="">Notifications
															<em>2</em></a></span>
												</div>
												<div class="page-likes">
													<ul class="nav nav-tabs likes-btn">
														<li class="nav-item"><a class="active" href="#link1" data-toggle="tab">likes</a></li>
														<li class="nav-item"><a class="" href="#link2" data-toggle="tab">views</a></li>
													</ul>
													<!-- Tab panes -->
													<div class="tab-content">
														<div class="tab-pane active fade show " id="link1">
															<span><i class="ti-heart"></i>884</span>
															<a href="#" title="weekly-likes">35 new likes this week</a>
															<div class="users-thumb-list">
																<a href="#" title="Anderw" data-toggle="tooltip">
																	<img src="/assets/winkuLandingPage/images/resources/userlist-1.jpg" alt="">
																</a>
																<a href="#" title="frank" data-toggle="tooltip">
																	<img src="/assets/winkuLandingPage/images/resources/userlist-2.jpg" alt="">
																</a>
																<a href="#" title="Sara" data-toggle="tooltip">
																	<img src="/assets/winkuLandingPage/images/resources/userlist-3.jpg" alt="">
																</a>
																<a href="#" title="Amy" data-toggle="tooltip">
																	<img src="/assets/winkuLandingPage/images/resources/userlist-4.jpg" alt="">
																</a>
																<a href="#" title="Ema" data-toggle="tooltip">
																	<img src="/assets/winkuLandingPage/images/resources/userlist-5.jpg" alt="">
																</a>
																<a href="#" title="Sophie" data-toggle="tooltip">
																	<img src="/assets/winkuLandingPage/images/resources/userlist-6.jpg" alt="">
																</a>
																<a href="#" title="Maria" data-toggle="tooltip">
																	<img src="/assets/winkuLandingPage/images/resources/userlist-7.jpg" alt="">
																</a>
															</div>
														</div>
														<div class="tab-pane fade" id="link2">
															<span><i class="ti-eye"></i>440</span>
															<a href="#" title="weekly-likes">440 new views this week</a>
															<div class="users-thumb-list">
																<a href="#" title="Anderw" data-toggle="tooltip">
																	<img src="/assets/winkuLandingPage/images/resources/userlist-1.jpg" alt="">
																</a>
																<a href="#" title="frank" data-toggle="tooltip">
																	<img src="/assets/winkuLandingPage/images/resources/userlist-2.jpg" alt="">
																</a>
																<a href="#" title="Sara" data-toggle="tooltip">
																	<img src="/assets/winkuLandingPage/images/resources/userlist-3.jpg" alt="">
																</a>
																<a href="#" title="Amy" data-toggle="tooltip">
																	<img src="/assets/winkuLandingPage/images/resources/userlist-4.jpg" alt="">
																</a>
																<a href="#" title="Ema" data-toggle="tooltip">
																	<img src="/assets/winkuLandingPage/images/resources/userlist-5.jpg" alt="">
																</a>
																<a href="#" title="Sophie" data-toggle="tooltip">
																	<img src="/assets/winkuLandingPage/images/resources/userlist-6.jpg" alt="">
																</a>
																<a href="#" title="Maria" data-toggle="tooltip">
																	<img src="/assets/winkuLandingPage/images/resources/userlist-7.jpg" alt="">
																</a>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div><!-- page like widget -->
									</aside>
								</div><!-- sidebar -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
</body>