<div style="background-color:rgb(222, 233, 247);">
    <div class="main-div" style="padding-top: 70px; padding-bottom: 150px;">

        <div class="offset-xs-4 offset-sm-4 offset-md-4 offset-lg-4 col-xs-5 col-sm-5 col-md-5 col-lg-5 col-xl-5">
            <div class="container" style="background-color: white; padding-top: 25px; padding-bottom: 60px">
                <h5 style="text-align:center">Login in to SNS</h5>
                <br>
                <form [formGroup]="signinForm" (ngSubmit)="onLogin()">

                    <div class="form-group">
                        <input type="text" class="form-control" id="inputEmail" placeholder="email/username"
                            formControlName="username_email" [value]="emailFieldInputValue" (input)="validateForm(email,'email')"
                            [ngClass]="{invalidFields: invalidEmail==true}" #email>
                        <p style="float: right; color: red;" *ngIf="invalidEmail">{{emailErrorMsg}}</p>
                    </div>

                    <div class="form-group">
                        <input type="password" class="form-control" id="inputPassword" placeholder="Password"
                            formControlName="password" [value]="passwordFieldInputValue" (input)="validateForm(password,'password')"
                            [ngClass]="{invalidFields: invalidPassword==true}" #password>
                        <p style="float: right; color: red;" *ngIf="invalidPassword">{{passwordErrorMsg}}</p>
                        <p style="float: right; color: red;" *ngIf="!invalidPassword || !invalidEmail">{{message}}</p>
                    </div>

                    <br>
                    <button type="submit" class="btn btn-primary" style="float: right">Login</button>
                </form>
            </div>
        </div>

    </div> <!-- Div-main Ends -->
</div> <!-- Div-BackgroundColor Ends -->