<!-- ***************************************************************************** -->

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <title>HEADER</title>
    <link rel="stylesheet" href="/assets/FontAwesome/css/font-awesome.min.css">
</head>

<div class="topbar sticky-header">
    <div class="logo">
        <a routerLink="landingpage/home"><img src="/assets/winkuLandingPage/images/logo.png" alt=""></a>
        <!-- <span class="dropdown showDropButton">
                <span data-toggle="dropdown">
                 <img src="/assets/pics/mobileMenuButton.png" style="width:25%; height:20%; margin-left: 7px" class="dropdown-toggle dropDownOveride">
                </span>

                <div class="dropdown-menu dropDownMenuOveride">
                    <a class="dropdown-item dropdownItemOveride" style="cursor: pointer"
                        (click)="goToRoute('landingpage/timeline')" routerLink="landingpage/timeline">MyProfile</a>
                    <hr>
                    <a class="dropdown-item dropdownItemOveride" style="cursor: pointer">Create New Page</a>
                    <a class="dropdown-item dropdownItemOveride" style="cursor: pointer">Create New Group</a>
                    <a class="dropdown-item dropdownItemOveride" style="cursor: pointer">Advertising</a>
                    <a class="dropdown-item dropdownItemOveride" style="cursor: pointer">Edit</a>
                    <a class="dropdown-item dropdownItemOveride" style="cursor: pointer">General Setting</a>
                    <hr>
                    <a class="dropdown-item dropdownItemOveride" style="cursor: pointer" (click)="Signout()">Logout</a>
                </div> 
        </span> -->

        <!-- <nav class="navbar navbar-expand-sm navbar-light showDropButton">
                <div class="container">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menuBar"
                        aria-controls="navbarTogglerDemo01" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="menuBar"  style="background-color:darkgrey">
                        <ul class="nav navbar-nav">
                            <li>
                                &nbsp; <a class="borderRight" style="cursor: pointer"
                                    (click)="activateSelectedTab('timeline')">
                                    News Feed
                                    &nbsp; </a>
                            </li>
                            <li>
                                &nbsp; <a class="borderRight" style="cursor: pointer"
                                    (click)="activateSelectedTab('groups')">
                                    Inbox &nbsp; </a>
                            </li>
                            <li>
                                &nbsp; <a class="borderRight" style="cursor: pointer"
                                    (click)="activateSelectedTab('likes')">
                                    My pages &nbsp; </a>
                            </li>
                            <li>
                                &nbsp; <a class="borderRight" style="cursor: pointer"
                                    (click)="activateSelectedTab('friends')">
                                    Friends &nbsp; </a>
                            </li>
                            <li>
                                    &nbsp; <a class="borderRight" style="cursor: pointer"
                                        (click)="activateSelectedTab('messages')">
                                        Messages &nbsp; </a>
                                </li>
                        </ul>
                    </div>
                </div>
            </nav> -->

    </div>

    <div class="top-area" *ngIf="isUserLoggedIn">
        <div class="dropdown" style="float: right">

            <!--  ******************** SETTING PROFILE PIC IN HEADER ***************************************************** -->
            <span data-toggle="dropdown" *ngFor="let userPics of usersProfilePic; let p = index">
                <span *ngIf="userPics.user_id == this.cookie.get('authUserId'); else noPicFound">
                    <span *ngIf="profilePicFound()"></span>
                    <img [src]="userPics.picFile" class="dropdown-toggle dropDownOveride"
                        style="margin-top: 6px; width: 50px; height: 50px;">
                </span>

                <ng-template #noPicFound>
                    <span *ngIf="p == (usersProfilePic.length- 1) && !isProfilePicFound">
                        <span *ngIf="loggedInUserProfilePic == null || loggedInUserProfilePic == ''">
                            <img src="/assets/pics/noProfile.png" class="dropdown-toggle dropDownOveride"
                                style="margin-top: 6px; width: 50px; height: 50px;">
                        </span>
                    </span>

                </ng-template>
            </span>
            <!--  ***************************************************************************************************** -->

            <div class="dropdown-menu dropDownMenuOveride">
                <a class="dropdown-item dropdownItemOveride" style="cursor: pointer"
                    (click)="goToRoute('landingpage/timeline')" routerLink="landingpage/timeline">MyProfile</a>
                <hr>
                <span class="showDropButton">
                    <a class="dropdown-item dropdownItemOveride" style="cursor: pointer">NewsFeed</a>
                    <a class="dropdown-item dropdownItemOveride" style="cursor: pointer">Friends</a>
                    <a class="dropdown-item dropdownItemOveride" style="cursor: pointer">Images</a>
                    <a class="dropdown-item dropdownItemOveride" style="cursor: pointer">Videos</a>
                    <a class="dropdown-item dropdownItemOveride" style="cursor: pointer">MyPages</a>
                    <a class="dropdown-item dropdownItemOveride" style="cursor: pointer">Messages</a>
                    <hr>
                </span>
                <a class="dropdown-item dropdownItemOveride" style="cursor: pointer">Create New Page</a>
                <a class="dropdown-item dropdownItemOveride" style="cursor: pointer">Create New Group</a>
                <a class="dropdown-item dropdownItemOveride" style="cursor: pointer">Advertising</a>
                <a class="dropdown-item dropdownItemOveride" style="cursor: pointer">Edit</a>
                <a class="dropdown-item dropdownItemOveride" style="cursor: pointer">General Setting</a>
                <hr>
                <a class="dropdown-item dropdownItemOveride" style="cursor: pointer" (click)="Signout()">Logout</a>
            </div>
        </div>

        <ul class="settingsOveride" style="float: right">
            <li>
                <a href="#" title="Notification" data-ripple="">
                    <i class="fa fa-bell"></i>
                </a>
            </li>
            <li>
                <a href="#" title="comments" data-ripple=""><i class=" fa fa-comment"></i><span>12</span></a>
            </li>
            <li>
                <div class="dropdown">
                    <a title="users" class="dropdown-toggle dropDownOveride removeDropdownArrow" data-toggle="dropdown">
                        <i class="fa fa-users"></i>
                        <span *ngIf="RequestCountNotFound()"></span>
                        <span *ngFor="let request of allFriendsRequest; let c = index">
                            <span *ngIf="this.cookie.get('authUserId') == request.receiver_id">
                                <span *ngIf="!isTotalRequestFound" class="badge badge-pill badge-warning">
                                    <span *ngIf="RequestCountFound()"></span>
                                    {{request.requestCount}}
                                </span>
                            </span>
                        </span>

                    </a>

                    <div class="dropdown-menu dropDownUserOveride">

            <li class="nav-item dropdown">
                <!-- <span class="d-lg-none">
                    <span class="badge badge-pill badge-warning">5 new</span>
                </span> -->
                <!-- <span class="indicator text-warning d-none d-lg-block">
                    <i class="fa fa-fw fa-circle"></i>
                </span> -->

                <span>
                    <h6 style="text-align: center"> Friend Requests </h6>

                    <span class="dropdown-item" *ngFor="let friendrequest of allFriendsRequest">
                        <span
                            *ngIf="this.cookie.get('authUserId') == friendrequest.receiver_id && friendrequest.requeststatus == 'sent'">

                            <span *ngIf="friendrequest.ProfilePic != ''; else dummyPicR">
                                <img class="rounded-circle" style="width: 50px; height: 50px;"
                                    [src]="friendrequest.ProfilePic">
                            </span>
                            <ng-template #dummyPicR>
                                <img style="width: 20%" src="/assets/pics/noProfile.png">
                            </ng-template>
                            <div class="text-left user-itemC"
                                style="display: inline-block; margin-left: 10px; width: 100px;">
                                {{friendrequest.username[0].username}}
                            </div>

                            <span class="text-right">
                                <span *ngIf="friendrequest.requeststatus == 'accept'; else reqRejected">
                                    <span> Request Accepted </span>
                                </span>
                                <ng-template #reqRejected>
                                    <span *ngIf="friendrequest.requeststatus == 'reject'">
                                        Request Rejected
                                    </span>
                                </ng-template>

                                <span *ngIf="friendrequest.requeststatus == 'sent'">
                                    <input type="button" class="btn btn-primary btn-sm"
                                        (click)="acceptFriendRequest(friendrequest.sender_id)" value="Accept">
                                    <input type="button" class="btn btn-danger btn-sm"
                                        (click)="rejectFriendRequest(friendrequest.sender_id)" value="Reject">
                                </span>
                            </span>
                        </span>
                    </span>
                </span>
                <!-- ********************************************************************************************************************* -->
                <hr>

                <span>
                    <h6 style="text-align: center"> Friend Suggestions</h6>

                    <span *ngFor="let user of allUserdata; let u = index">
                        <span *ngIf="sentRequestUnfound()"></span>
                        <span *ngIf="receiveRequestUnfound()"></span>
                        <span *ngFor="let request of allFriendsRequest; let r = index">
                            <span
                                *ngIf="(this.cookie.get('authUserId') == request.receiver_id && user.user_id == request.sender_id)">
                                <span *ngIf="receiveRequestFound()"></span>
                            </span>

                            <span
                                *ngIf="(this.cookie.get('authUserId') == request.sender_id && user.user_id == request.receiver_id); else showSentMsg">
                                <span *ngIf="sentRequestFound()"></span>

                                <span
                                    *ngIf="request.requeststatus == 'sent' && this.cookie.get('authUserId') != user.user_id">
                                    <span class="dropdown-item">
                                        <span *ngIf="user.ProfilePic != null; else dummyPic">
                                            <img class="rounded-circle" style="width: 50px; height: 50px;"
                                                [src]="user.ProfilePic">
                                        </span>
                                        <ng-template #dummyPic>
                                            <img style="width: 20%" src="assets/pics/noProfile.png">
                                        </ng-template>

                                        <div class="text-left user-itemC"
                                            style="display: inline-block; margin-left: 10px; width: 100px;">
                                            {{user.username}}
                                        </div>
                                        <span> Request Sent </span>
                                    </span>
                                </span>
                            </span>

                            <ng-template #showSentMsg>
                                <span class="dropdown-item"
                                    *ngIf="r == (allFriendsRequest.length-1) && this.cookie.get('authUserId') != user.user_id && !sentRequestFoundStatus && !receiveRequestFoundStatus">

                                    <span *ngIf="user.ProfilePic != null; else dummyPic">
                                        <img class="rounded-circle" style="width: 50px; height: 50px;"
                                            [src]="user.ProfilePic">
                                    </span>
                                    <ng-template #dummyPic>
                                        <img style="width: 20%" src="assets/pics/noProfile.png">
                                    </ng-template>

                                    <div class="text-left user-itemC"
                                        style="display: inline-block; margin-left: 10px; width: 100px;">
                                        {{user.username}}
                                    </div>
                                    <input type="button" class="btn btn-primary btn-sm"
                                        (click)="sendFriendRequest(user.user_id)" value="Send Request">
                                </span>
                            </ng-template>
                        </span>

                        <span *ngIf="allFriendsRequest == null || allFriendsRequest.length == 0">
                            <span class="dropdown-item" *ngIf="this.cookie.get('authUserId') != user.user_id">
                                <span *ngIf="user.ProfilePic != null; else dummyPic">
                                    <img class="rounded-circle" style="width: 50px; height: 50px;"
                                        [src]="user.ProfilePic">
                                </span>
                                <ng-template #dummyPic>
                                    <img style="width: 20%" src="assets/pics/noProfile.png">
                                </ng-template>

                                <div class="text-left user-itemC"
                                    style="display: inline-block; margin-left: 10px; width: 100px;">
                                    {{user.username}}
                                </div>
                                <input type="button" class="btn btn-primary btn-sm"
                                    (click)="sendFriendRequest(user.user_id)" value="Send Request">
                            </span>
                        </span>
                    </span>
                </span>
            </li>
    </div>
</div>

</li>



</ul>


</div> <!-- TOP Area End -->

<!-- ***************** LOGIN FORM ************************************************* -->
<div class="top-area">

    <!-- Header Buttons -->
    <!-- If loginForm is invisible then show singUp button -->
    <div *ngIf="!showLoginForm" class="col-xs-6 col-sm-6 col-md-4 col-lg-3 col-xl-3 alignCenter">
        <button *ngIf="!isUserLoggedIn" class="btn btn-success" (click)="LoadSignUp()" style="cursor: pointer;">
            Signup </button>
    </div>
    <!-- If loginForm is visible then show singIn button on small screens -->
    <div *ngIf="showLoginForm" class="col-xs-6 col-sm-6 col-md-3 col-lg-3 col-xl-3 ">
        <button class="btn btn-success displayMe" routerLink="/signin" style="cursor: pointer;"> Signin
        </button>
    </div>

    <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 col-xl-9 HideMe" style="float:right" *ngIf="showLoginForm">
        <form [formGroup]="signinForm" (ngSubmit)="onSignIn()">
            <div class="row" style="float:right;">

                <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 col-xl-5">
                    <label class="textColor" style=" margin: 0;">email or username</label>
                    <input type="text" style="width:90%" placeholder="enter email or username"
                        formControlName="EmailUsername">
                </div>

                <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 col-xl-5">
                    <label class="textColor" style="margin: 0;">password</label>
                    <input type="password" style="width:90%" placeholder="enter password" formControlName="password">
                </div>

                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-2" style="margin-top: 25px">
                    <button type="submit" class="btn btn-primary"
                        style="background-color:rgb(135, 162, 243)">Login</button>
                </div>

            </div>
        </form>
    </div>
    <!-- ***************************************************************************** -->
</div>
</div><!-- topbar -->